<div>
  <p>{{ today | date }}</p>
  <p>The time is {{ today | date : "h:mm a" }}</p>
</div>

<div >
  <app-tasks-arr
    [tasks]="tasksArr"
    [taskCount]="taskCount"
    (selectedTask)="onTaskSelected($event)"
  ></app-tasks-arr>

  <div *ngIf="selectedTask">
    <div>
      <label for="taskTitle">task title :</label>
      <input #taskTitle  id="taskTitle"  placeholder="title" [(ngModel)]="selectedTask.title ">
      <button (click)="deleteTask(selectedTask.title)">Delete</button>
    </div>
    <p>Task Description: {{ selectedTask.description }}</p>
  </div>
  <div>
    <!-- Add a form to collect user input -->
    <form (ngSubmit)="addTask()">
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="newTask.title" required>

      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="newTask.description" required>

      <button type="submit">Add Task</button>
    </form>

  </div>


</div>
